.root {
    font-size: 52px;
    font-weight: 900;
    -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
    color: var(--colour-chrome-5);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--colour-chrome-5);
    text-shadow:
        0 0 1px var(--colour-chrome-5),
        0 0 6px var(--colour-chrome-4);
}

.big {
    font-size: 72px;
}

@media (max-width: 1068px) {
    .root { font-size: 40px; }
    .big { font-size: 60px; }
}

@media (max-width: 860px) {
    .root { font-size: 32px; }
    .big { font-size: 40px; }
}

@media (max-width: 560px) {
    .root { font-size: 24px; }
    .big { font-size: 32px; }
}